.search-button {
  padding: 10px;
}

.search-fields {
  padding: 0px 10px;
}

.search-form {
  display: contents;
}

.tables {
  padding: 10px;
  display: inline-flex;
}

.right-table {
  padding: 10px;
  width: fit-content;
}

.left-table {
  padding: 10px;
  width: fit-content;
}

:host {
  ::ng-deep {
    .autocomplete .mat-mdc-form-field-infix {
      width: 236px !important;
    }
  }
}
