<div class="search-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>TAP</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="searchForm" (submit)="search()">
        <div class="search-form">
          <div class="search-fields">
            <mat-form-field>
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  matStartDate
                  formControlName="start"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="end"
                  placeholder="End date"
                />
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

              <mat-error
                *ngIf="
                  searchForm.controls['start'].hasError('matStartDateInvalid')
                "
                >Invalid start date</mat-error
              >
              <mat-error
                *ngIf="searchForm.controls['end'].hasError('matEndDateInvalid')"
                >Invalid end date</mat-error
              >
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Origin</mat-label>
              <input
                type="text"
                matInput
                formControlName="origin"
                [matAutocomplete]="originAuto"
              />
              <mat-autocomplete
                #originAuto
                name="origin"
                (optionSelected)="loadDestinationAirports()"
                [displayWith]="displayFn.bind(this)"
              >
                <mat-option
                  *ngFor="let origin of originFilteredOptions | async"
                  [value]="origin"
                  >{{ displayFn(origin) }}</mat-option
                >
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Destination</mat-label>
              <input
                type="text"
                matInput
                formControlName="destination"
                [matAutocomplete]="destinationAuto"
              />
              <mat-autocomplete
                #destinationAuto
                name="destination"
                [displayWith]="displayFn.bind(this)"
              >
                <mat-option
                  *ngFor="let destination of destinationFilteredOptions | async"
                  [value]="destination"
                  >{{ displayFn(destination) }}</mat-option
                >
              </mat-autocomplete>
            </mat-form-field>
            <mat-checkbox formControlName="oneWay">OneWay</mat-checkbox>
          </div>
          <div class="search-button">
            <button mat-raised-button color="primary" type="submit">
              Search
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-progress-bar *ngIf="loading > 0" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="outPanelPrices.length > 0" class="tables">
    <div class="left-table">
      <h1>Ida</h1>
      <table
        #tableOut
        mat-table
        [dataSource]="outPanelPrices"
        class="mat-elevation-z8"
        matSort
        (matSortChange)="sortOutChange($event)"
      >
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>date</th>
          <td mat-cell *matCellDef="let priceTab">{{ priceTab.date }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let priceTab">
            {{ currentCurrencyOut }} {{ priceTab.totalPrice?.price }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsOut"></tr>
        <tr
          mat-row
          *matRowDef="let priceTab; columns: displayedColumnsOut"
        ></tr>
      </table>
    </div>
    <div *ngIf="!oneWay" class="right-table">
      <h1>Volta</h1>
      <table
        #tableIn
        mat-table
        [dataSource]="inPanelPrices"
        class="mat-elevation-z8"
        matSort
        (matSortChange)="sortInChange($event)"
      >
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>date</th>
          <td mat-cell *matCellDef="let priceTab">{{ priceTab.date }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let priceTab">
            {{ currentCurrencyOut }} {{ priceTab.totalPrice?.price }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsIn"></tr>
        <tr mat-row *matRowDef="let priceTab; columns: displayedColumnsIn"></tr>
      </table>
    </div>
  </div>

  <div *ngIf="errors.length > 0">
    <mat-card *ngFor="let error of errors">
      <mat-card-header>
        <mat-card-title>{{ error }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
